<td-layout [mode]="'side'" [opened]="true" [sidenavWidth]="'257px'" class="layout-demo">

    <!-- Side Navigation -->

    <div td-sidenav-content>
        <h3>Parent Medication</h3>
        <table [dataSource]="parentDataSource"  mat-table>
            <ng-container matColumnDef="display">
                <th *matHeaderCellDef mat-header-cell> Display</th>
                <td (click)="select(medication)" *matCellDef="let medication"
                    [matTooltip]="'SNOMED CT - '+medication.code" mat-cell>
                    <b>{{medication.display}}</b></td>
            </ng-container>

            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
            <tr *matRowDef="let row; columns: childDisplayedColumns" mat-row></tr>
        </table>

        <h3>Child Medication</h3>
        <table [dataSource]="childDataSource" mat-table>


            <ng-container matColumnDef="display">
                <th *matHeaderCellDef mat-header-cell> Display</th>
                <td (click)="select(medication)" *matCellDef="let medication"
                    [matTooltip]="'SNOMED CT - '+medication.code" mat-cell>
                    <b>{{medication.display}}</b></td>
            </ng-container>

            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
            <tr *matRowDef="let row; columns: childDisplayedColumns" mat-row></tr>
        </table>
        <span *ngIf="ampCodes.length>0">
            <h3>AMP Medication</h3>
            <table [dataSource]="ampDataSource"  mat-table>

                <ng-container matColumnDef="display">
                    <th *matHeaderCellDef mat-header-cell> Display </th>
                    <td (click)="select(medication)" *matCellDef="let medication"
                        [matTooltip]="'SNOMED CT - '+medication.code" mat-cell>
                        <b>{{medication.display}}</b> </td>
                </ng-container>

                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
                <tr *matRowDef="let row; columns: childDisplayedColumns" mat-row></tr>
            </table>
        </span>
    </div>


    <!-- Body Content -->

    <mat-card>

        <ng-template tdLoading [tdLoadingUntil]="!loading">



    <mat-card-content>
        <mat-card-header class="container">
            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">

                <h3 *ngIf="medication" >{{medication.code.coding[0].display}}</h3>


                <div *ngIf="medicinal">

                    <td-message
                            *ngIf="(medicinal.legalStatusOfSupply != undefined) && (medicinal.legalStatusOfSupply.coding !=undefined)"
                            [label]="medicinal.legalStatusOfSupply.coding[0].display" color="primary" icon="info"
                            sublabel="Supply Status"></td-message>
                </div>
                <div *ngIf="medicinal">
                    <td-message *ngIf="medicinal.type"
                                [label]="medicinal.type.coding[0].display" color="primary" icon="info"
                                sublabel="Type"></td-message>
                </div>
                <div *ngIf="medicinal">
                    <td-message *ngIf="medicinal.additionalMonitoringIndicator"
                                [label]="medicinal.additionalMonitoringIndicator.coding[0].display" color="warn" icon="warning"
                                sublabel="Monitoring Indicator"></td-message>
                </div>

            </div>
        </mat-card-header>
    </mat-card-content>

    <span *ngIf="medication">

        <td-expansion-panel label="Details"  >
            <div class="md-padding">
                <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0">

                    <div class="mat-body-1" fxFlex="50%">
                        <span *ngIf="medicinal">
                            <mat-list>
                                <mat-list-item *ngFor="let clss of medicinal.productClassification">
                                    <b matLine>Classification</b>
                                    <i>
                                        {{clss.coding[0].display}}</i>
                                </mat-list-item>
                            </mat-list>
                        </span>
                    </div>
                    <div class="mat-body-1" fxFlex="50%">
                        <span *ngIf="medicinal">
                            <mat-list>

                                <mat-list-item *ngIf="medicinal.combinedPharmaceuticalDoseForm">
                                    <b mat-line>Dose Form</b>
                                    <i>
                                        {{medicinal.combinedPharmaceuticalDoseForm.coding[0].display}}
                                    </i>
                                </mat-list-item>
                            </mat-list>
                        </span>
                        <span *ngIf="productPharm">
                            <mat-list>
                                <mat-list-item *ngIf="productPharm.routeOfAdministration">
                                    <b mat-line>Route</b>
                                    <i>
                                        {{productPharm.routeOfAdministration[0].code.coding[0].display}}</i>

                                </mat-list-item>
                                <mat-list-item *ngFor="let ingredient of productPharm.ingredient">
                                    <b mat-line>Ingredient</b>
                                    <i>{{ingredient.display}}</i>

                                </mat-list-item>
                                <mat-list-item *ngFor="let note of notes">
                                    {{note}}
                                </mat-list-item>
                            </mat-list>
                        </span>
                    </div>
                </div>
            </div>
        </td-expansion-panel>
    </span>
    <br>

    <app-medication-render [codeableConcept]="codeableConcept" [medication]="medication"></app-medication-render>
    <app-product-render [medicationProduct]="medicinal" [pharmaceuticalProduct]="productPharm"
        [product]="productDisplay"></app-product-render>
        </ng-template>
    </mat-card>

</td-layout>
