

    <span *ngIf="pharmaceuticalProduct">
        <td-expansion-panel label="FHIR MedicinalProductPharmaceutical" sublabel="Experimental" >
             <div class="md-padding">
                    <td-json-formatter  [data]="pharmaceuticalProduct" [levelsOpen]="8 "></td-json-formatter>
             </div>
        </td-expansion-panel>
        <br>
    </span>
    <span *ngIf="medicationProduct">

         <td-expansion-panel label="FHIR MedicinalProduct" sublabel="Experimental" >
             <div class="md-padding">
                 <td-json-formatter  [data]="medicationProduct" [levelsOpen]="8 "></td-json-formatter>
             </div>
         </td-expansion-panel>
        <br>
    </span>
    <td-expansion-panel label="Terminology Server $lookup" sublabel="modfied" >
        <div class="md-padding">
            <td-json-formatter [data]="product" [levelsOpen]="8 "></td-json-formatter>
        </div>
    </td-expansion-panel>


