<td-layout class="layout-nav-demo" sidenavWidth="280px">
    <td-navigation-drawer
            flex
            sidenavTitle="Search" >
        <div flex>
            <td-search-input  placeholder="Name or Code" [(ngModel)]="searchInput" [showUnderline]="true" [debounce]="500" (searchDebounce)="search($event)" (search)="search($event)" (clear)="searchInput = ''">
            </td-search-input>
        </div>
        <section class="example-section">
            <mat-checkbox disabled="true" class="example-margin">Moiety (VTM)</mat-checkbox>
            <mat-checkbox disabled="true" class="example-margin">Product (VMP and AMP)</mat-checkbox>
            <mat-checkbox disabled="true" class="example-margin">Pack (VMPP and AMPP)</mat-checkbox>
        </section>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">




            <ng-container matColumnDef="display">
                <th mat-header-cell *matHeaderCellDef> Display </th>
                <!-- (click)="select(medication)" -->
                <td mat-cell class="hover" routerLink="/{{medication.code}}" *matCellDef="let medication" tdLayoutToggle> <b>{{medication.display}}</b> <br> <small>{{medication.code}}</small> </td>
            </ng-container>

            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </td-navigation-drawer>
    <td-layout-nav-list navigationRoute="/" opened="false" mode="side">

        <div td-sidenav-content>


        </div>
        <div td-toolbar-content>
            <button mat-icon-button td-menu-button tdLayoutToggle>
                <mat-icon>search</mat-icon>
            </button>
            Medication Browser
        </div>
        <router-outlet></router-outlet>
    </td-layout-nav-list>
</td-layout>
