

       <div class="mat-card-content"
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">

           <div class="mat-body-1" fxFlex="50%">
           <!--     <td-code-editor
                        [style.height.px]="300"
                        editorStyle="border:0;"
                        [editorOptions]="{readOnly:true, fontSize:12, automaticLayout: false}"
                        #editor
                        class="editor"
                        theme="vs"
                        [language]="editorLanguage"
                        [(ngModel)]="editorVal"
                        flex
                ></td-code-editor> -->
               <td-expansion-panel label="FHIR Medication">
                <td-json-formatter [data]="medication" [levelsOpen]="4"></td-json-formatter>
               </td-expansion-panel>
           </div>
           <div class="mat-body-1" fxFlex="50%">
               <td-expansion-panel label="FHIR Codeable Concept">
               <td-json-formatter [data]="codeableConcept" [levelsOpen]="4"></td-json-formatter>
               </td-expansion-panel>
           </div>
       </div>


